.perfil-photo{
    border-radius: 50%;
}

.avaliation{
    display: grid;
    gap: 3rem;
    justify-content: center;
    padding-top: 2rem;

    h2{
        text-align: center;
    }
}

@media(width >= 80em){
    .avaliation{
        gap: .75rem;
    }
}