footer{
    text-align: center;
    padding-block: 3rem;
    p{
        color: var(--greengray-ultralight);
    }
}

@media(width >= 80em){
    footer{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        align-items: center;
    }

}