*,*::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --bg-color: #121717;
    --happy-yellow: #F9C638;
    --greengray-ultralight: #9EBAB5;
    --greengray-lighter: #547873;
    --greengray-light: #3B544F;
    --greengray-mid: 293836;
    --greengray-low: #1C2626;
    --text-color: #FFFFFF;
    --gradient: linear-gradient (rgba(0, 0, 0, 10), rgba(0, 0, 0, 40));

    --fs-xs: .5rem;
    --fs-sm: .875rem;
    --fs-base: 1rem;
    --fs-lg: 1.375rem;

    --ff: 'Plus Jakarta Sans', sans-serif;

    --fw-bold: 700;
    --fw-mid: 500;
    --fw-reg: 400;

    --ligh-height: 1.5;

    --px-lg: 2.5rem;

    --px-mid: 1.25rem;
    --py-mid: 1rem;
}

html, body{
    font-family: var(--ff);
    font-size: var(--fs-base);
    color: var(--text-color);
    line-height: var(--ligh-height);
    font-weight: var(--fw-reg);
}

body{
    background-color: var(--bg-color);
}

h1, h2{
    font-size: var(--fs-lg);
    font-weight: var(--fw-bold);
    line-height: var(--ligh-height);
}

@media(width >= 80em){
    h1{
        --fs-lg: 3rem;
    }
}

.text-aling{
    text-align: center;
}