.hero-img{
    width: 18.5rem;
    margin: 0 auto;
    padding-top: 2rem;
}

#desktop-image{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: .5rem;
}

@media(width >= 80em){
    .hero-img{
        width: 54rem;
    }
}
